@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed&display=swap");

@font-face {
    font-family: "Monlam";
    src: url("/font/MonlamTBslim.woff2") format("woff2"),
        url("/font/MonlamTBslim.woff") format("woff"),
        url("/font/MonlamTBslim.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Monlam", "Lato", "Trebuchet MS", Roboto, Helvetica, Arial, sans-serif;
}